---
import { Image } from "astro:assets";
import MenuOpen from "../buttons/MenuOpen.astro";
import MenuClose from "../buttons/MenuClose.astro";
import { DEFAULT_LOGO_ALT_DESC } from "../../constants/site";
import { RESOURCES_HERO_NAVIGATION_ITEMS } from "../../data/navbar";
import LogoImage from "../../assets/images/logos/secondary.svg";
import dayjs from "dayjs";

const { post } = Astro.props;
const links = RESOURCES_HERO_NAVIGATION_ITEMS;

const image = post.frontmatter.image?.url;
---

<script>
  document.querySelectorAll("[data-mobile-toggle]")?.forEach((button) => {
    button.addEventListener("click", (el) => {
      el.stopPropagation();
      button.classList.toggle("open");
    });
  });

  document
    .querySelectorAll("[data-target-section]")
    ?.forEach(function (button) {
      button.addEventListener("click", function (el) {
        const target = (el.target as any).dataset.targetSection;
        if (!target) return;

        const targetEl = document.querySelector(target);
        targetEl?.scrollIntoView();
      });
    });
</script>

<section
  id="resources-hero"
  class="lg:px-[96px] xl:px-[120px] relative overflow-hidden lg:min-h-[813px]"
>
  <nav class="flex justify-between h-[90.96px] items-center px-[20px] md:px-0">
    <a href="/">
      <Image
        height={50}
        width={164}
        src={LogoImage}
        alt={DEFAULT_LOGO_ALT_DESC}
      />
    </a>

    <ul class="hidden md:flex xl:gap-[40px] lg:gap-[32px] items-center">
      {
        links.map(({ title, targetSection, attributes, url: $url }, i) => {
          const url = $url || `/${title.toLowerCase().replaceAll(" ", "-")}`;
          return (
            <li>
              <a
                {...attributes}
                data-target-section={targetSection}
                href={url}
                class={`${
                  attributes?.class || ""
                } text-[var(--primary-color)] lg:text-[14px] xl:text-[16px]`}
              >
                {title}
              </a>
            </li>
          );
        })
      }
    </ul>

    <div role="button" class="mobile-menu cta closed" data-mobile-toggle>
      <span class="open-icon"><MenuOpen className="text-[#4130BA]" /></span>
      <span class="close-icon"><MenuClose className="text-[#4130BA]" /></span>

      <ul id="mobile-nav">
        {
          links.map(({ title, targetSection }, i) => {
            const url = `/${title.toLowerCase().replaceAll(" ", "-")}`;
            return (
              <li>
                <a
                  class="!font-[300] text-[12px]"
                  data-target-section={targetSection}
                  href={url}
                >
                  {title}
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </nav>

  <div
    class="lg:max-w-[fit-content] mt-[90px] w-full mx-auto text-center sm:px-auto"
  >
    <div class="lg:w-[1048px] xl:w-[1248px] shrink-0 w-full mx-auto rounded-sm">
      <div class="text-left">
        <h1
          class="md:text-[48px] text-[32px] text-[#123257] md:leading-[57.6px] font-[600] max-w-[800px]"
        >
          {post.frontmatter?.title}
        </h1>
        <div class="flex justify-between mt-4 md:mt-8 font-[400]">
          <div
            class="mt-4 text-md flex flex-col md:flex-row gap-1 text-[#123257] justify-center"
          >
            <p class="md:block">Written by</p>
            <p>
              {post.frontmatter.author}
            </p>
            <p class="hidden md:block">on</p>
            <p class="italic md:not-italic">
              {dayjs(post.frontmatter.datePublished).format("LL")}
            </p>
          </div>
          {post.frontmatter.timeToRead && <div class="font-light flex gap-2 items-center text-[#123257]">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-4 h-4"
            >
              <path
                d="M11.25 4.533A9.707 9.707 0 0 0 6 3a9.735 9.735 0 0 0-3.25.555.75.75 0 0 0-.5.707v14.25a.75.75 0 0 0 1 .707A8.237 8.237 0 0 1 6 18.75c1.995 0 3.823.707 5.25 1.886V4.533ZM12.75 20.636A8.214 8.214 0 0 1 18 18.75c.966 0 1.89.166 2.75.47a.75.75 0 0 0 1-.708V4.262a.75.75 0 0 0-.5-.707A9.735 9.735 0 0 0 18 3a9.707 9.707 0 0 0-5.25 1.533v16.103Z"
              ></path>
            </svg>

            <p>{post.frontmatter.timeToRead} minutes read</p>
          </div>}
        </div>
      </div>
    </div>

    {
      image && (
        <div class="lg:max-w-[fit-content] mt-[40px] lg:mt-[90px] w-full mx-auto text-center sm:px-auto">
          <div>
            <img class=" object-cover" src={image} alt={""} />
          </div>
        </div>
      )
    }
  </div>

  <style>
    #resources-hero {
      background-color: white;
      position: relative;
    }

    .mobile-menu {
      display: none;

      @media screen and (max-width: 450px) {
        display: block;
      }
    }

    .mobile-menu {
      background: transparent;
      border: none;
      color: white;
      stroke: white;
      position: relative;
    }

    .mobile-menu > svg {
      color: white;
      height: 24px;
      width: 24px;
    }

    .mobile-menu.cta > * {
      /* pointer-events: none; */
    }

    .mobile-menu.closed > span.open-icon {
      display: block;
    }

    .mobile-menu.closed > span.close-icon {
      display: none;
    }

    .mobile-menu.open > span.open-icon {
      display: none;
    }

    .mobile-menu.open > span.close-icon {
      display: block;
    }

    .mobile-menu ul#mobile-nav {
      display: none;
    }

    .mobile-menu.open ul#mobile-nav {
      display: flex !important;
      position: absolute;
      right: 0px;
      top: 40px;
      flex-direction: column;
      gap: 10px;
      background-color: white;
      color: var(--primary-color);
      z-index: 9999;
      padding: 15px;
      justify-content: flex-start;
      align-items: flex-start;
      width: 150px;
      margin: 0;
      border-radius: 20px;
      box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.05);
    }

    .mobile-menu.open ul#mobile-nav li {
      text-align: left !important;
      width: 100%;
    }

    .mobile-menu.open ul#mobile-nav li:not(:last-child) {
      border-bottom: 1px solid var(--secondary-color);
      padding-bottom: 10px;
    }

    .mobile-menu.open ul#mobile-nav a {
      color: var(--primary-color) !important;
      font-weight: 600;
    }
  </style>
</section>
