---
import { Image } from "astro:assets";
import { DEFAULT_LOGO_ALT_DESC } from "../../constants/site";
import { HERO_NAVIGATION_ITEMS } from "../../constants/links";
import LogoImage from "../../assets/images/logos/primary.svg";
import TextUnderlineImage from "../../assets/images/text-underline.svg";
import OvalBottomImage from "../../assets/images/oval-bottom.svg";
import OvalRightImage from "../../assets/images/oval-right.svg";

const {} = Astro.props;
const links = HERO_NAVIGATION_ITEMS;
---

<section id="hero">
  <nav>
    <a href="/">
      <Image src={LogoImage} alt={DEFAULT_LOGO_ALT_DESC} />
    </a>

    <ul>
      {
        links.map((link, i) => {
          const url = `/${link.toLowerCase().replaceAll(" ", "-")}`;
          return (
            <li>
              <a href={url}>{link}</a>
            </li>
          );
        })
      }
      <li>
        <a class="cta">Let's talk</a>
      </li>
    </ul>
  </nav>

  <div class="leading-area">
    <h3>
      <span class="pre-text">Navigating</span>{" "}<span class="underline"
        ><span class="text">people</span>
        <Image src={TextUnderlineImage} alt={""} /></span
      > Nurturing potential
    </h3>

    <p>We are your stand in People Operations and HR team</p>

    <button class="cta"> Our services</button>
  </div>

  <Image class={'oval-right'} src={OvalRightImage} alt="" />
  <Image class={'oval-bottom'} src={OvalBottomImage} alt="" />
</section>

<style>
  #hero {
    background-color: var(--primary-color);
    height: 813px;
    padding: 0 120px;
    position: relative;
  }

  #hero > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90.96px;
  }

  #hero > nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
  }

  #hero > nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 16.4px;
  }

  #hero > nav ul li a.cta {
    padding: 12px 20px;
    border: 1px solid #ffffff;
    border-radius: 100px;
    font-weight: 500;
    display: block;
    line-height: 14.35px;
  }

  .leading-area {
    margin-top: 100.04px;
    padding-left: 60px;
  }

  .leading-area > h3 {
    font-weight: 600;
    font-size: 64px;
    max-width: 711px;
    line-height: 72px;
    min-height: 144px;
    color: white;
    position: relative;
    z-index: 9999;
    margin: 0;
  }

  .leading-area > h3 > span.underline {
    position: relative;
    z-index: 10;
  }

  .leading-area > h3 > span.pre-text {
    position: relative;
    z-index: 19;
  }

  .leading-area > h3 > span.underline > span.text {
    z-index: inherit;
  }

  .leading-area > h3 > span.underline > img {
    position: absolute;
    bottom: 2px;
    left: -25px;
    z-index: -1;
  }

  .leading-area > p {
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 16px;
    margin-bottom: 0px;
  }

  .leading-area .cta {
    padding: 18px 32px;
    background-color: var(--secondary-color);
    color: var(--primary-color-1);
    border: none;
    margin-top: 73px;
    border-radius: 100px;
    font-size: 24px;
    line-height: 28.58px;
    font-family: Epilogue;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: FamiljenGrotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  #hero .oval-right {
    top: 162px;
    right: 0;
    position: absolute;
  }

  #hero .oval-bottom {
    left: 176px;
    bottom: 0;
    position: absolute;
  }
</style>
