---
import { Image } from "astro:assets";
import { DEFAULT_LOGO_ALT_DESC } from "../../constants/site";
import { FOOTER_NAVIGATION_ITEMS } from "../../data/navbar";
import LogoImage from "../../assets/images/logos/primary.svg";
import FacebookImage from "../../assets/images/social/facebook.svg";
import TwitterImage from "../../assets/images/social/twitter.svg";
import LinkedInImage from "../../assets/images/social/linkedin.svg";
import InstagramImage from "../../assets/images/social/instagram.svg";
import YoutubeImage from "../../assets/images/social/youtube.svg";
import CircleArrowUpImage from "../../assets/images/circle-arrow-up.svg";

const {} = Astro.props;
const SOCIAL_LINKS = [
  {
    name: `Twitter`,
    url: `https://twitter.com/withparagon`,
    image: TwitterImage,
    style: {
      height: "25px",
      width: "25px",
    },
  },
  {
    name: `LinkedIn`,
    url: `https://www.linkedin.com/company/paragon-consulting-global/`,
    image: LinkedInImage,
    style: {
      height: "25px",
      width: "25px",
    },
  },
  {
    name: `Instagram`,
    url: `https://www.instagram.com/with_paragon/`,
    image: InstagramImage,
    style: {
      height: "28px",
      width: "28px",
    },
  },
  {
    name: `YouTube`,
    url: `https://youtube.com/@withparagon`,
    image: YoutubeImage,
    style: {
      height: "30px",
      width: "30px",
    },
  },
];
---

<script>
  document.querySelectorAll("[data-scroll-top]")?.forEach((button) => {
    button.addEventListener("click", () => window.scrollTo({ top: 0 }));
  });
</script>

<footer>
  <div class="logo">
    <a href="/">
      <Image
        height={50}
        width={164}
        src={LogoImage}
        alt={DEFAULT_LOGO_ALT_DESC}
      />
    </a>
  </div>
  <div
    class="flex justify-between md:gap-y-[36px] gap-y-[20px] flex-col items-center"
  >
    <ul class="social">
      {
        SOCIAL_LINKS.map((link) => (
          <li>
            <a href={link.url} target="__blank">
              <Image
                style={{ ...(link.style || {}) }}
                src={link.image}
                alt={DEFAULT_LOGO_ALT_DESC + "-" + link.name}
              />
            </a>
          </li>
        ))
      }
    </ul>
    <ul
      class="flex justify-between md:gap-[32px] gap-[20px] flex-col md:flex-row items-center text-white mt-[36px] md:mt-0"
    >
      {
        FOOTER_NAVIGATION_ITEMS.map(
          ({ title, attributes = {}, targetSection, url: $url }, i) => {
            const url = $url || `/${title.toLowerCase().replaceAll(" ", "-")}`;
            return (
              <li>
                <a
                  {...attributes}
                  class="font-[300] md:font-normal"
                  data-target-section={targetSection}
                  href={url}
                >
                  {title}
                </a>
              </li>
            );
          }
        )
      }
    </ul>
  </div>
  <div class="scroll !hidden md:block">
    <a data-scroll-top>
      <Image src={CircleArrowUpImage} alt={DEFAULT_LOGO_ALT_DESC} />
    </a>
  </div>

  <p class="!font-[300] !md:font-normal !text-[12px] !md:text-[16px]">
    ©Paragon Consulting 2023. All rights reserved.
  </p>
</footer>

<style>
  footer {
    display: flex;
    padding: 64px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    background: #4130ba;
  }

  footer > p {
    color: #fff;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .logo img {
    width: 180px;
    height: 100%;
  }

  div.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    row-gap: 36px;
  }

  ul.social {
    display: flex;
    list-style: none;
    gap: 24px;
    padding-left: 0px;
    margin: 0;
    align-items: flex-start;
  }

  ul.social img {
    height: 100%;
    width: 25px;
  }

  ul.social a {
    display: block;
  }

  ul.href {
    list-style: none;
    padding-left: 0px;
    margin: 0;
    color: white;
    display: flex;
    align-items: flex-start;
    gap: 32px;
  }

  ul.href a {
    color: #fff;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    letter-spacing: 1px;
  }

  a {
    cursor: pointer;
  }
</style>
