---
import ExpandIcon from "../../../../assets/images/expand.svg";
import { Image } from "astro:assets";
const { item, position } = Astro.props;

const isMidClass = position % 2 == 0;
const ref = "services-group-item-" + position;
---

<script>
  document.querySelectorAll('.services-group-item button').forEach((e) => {
    e.addEventListener('click', (evt: any) => {
      evt.stopPropagation()
      const prop = evt.target?.dataset?.service

      if (typeof prop === 'undefined') return;
      const content = document.getElementById('content-' + prop)
      const isActive = content?.classList.contains('overflow-hidden')
      if (isActive) {
        content?.classList.remove('h-[120px]','overflow-hidden', 'text-ellipsis')
        content?.classList.add('h-fit')
        e?.classList.add('-rotate-180')
        e?.classList.replace('rotate-0', '-rotate-180')
      } else {
        content?.classList.remove('h-fit')
        content?.classList.add('h-[120px]', 'overflow-hidden', 'text-ellipsis')
        e?.classList.replace('-rotate-180', 'rotate-0')
      }
    })
  })
</script>

<div
  id={item.key}
  class={[
    "services-group-item px-[24px] py-[48px] flex justify-between items-center border-b border-[#BEBEBE]",
    isMidClass ? "mid-item" : "",
  ].join(" ")}
>
  <div id={"id-" + ref} class="flex gap-[32px]">
    <Image src={item.image} class="w-[102px] h-[102px]" alt={""} />
    <div id={"content-" + ref} class="content h-[120px] overflow-hidden text-ellipsis">
      <h1 class="text-[32px] font-[500] text-[#123257]">{item.title}</h1>
      {
        Array.isArray(item.items) ? (
          <ul class="list mt-[23px] pl-4 flex flex-col gap-[4px]">
            {item.items.map((subContent: any) => (
              <li class="text-[16px] text-[#58657D] list-disc leading-[24px] max-w-[748px]">
                {subContent}
              </li>
            ))}
          </ul>
        ) : (
          <p class="mt-[23px] text-[16px] text-[#58657D] max-w-[748px]">
            {item.items}
          </p>
        )
      }

      {
        item.hasCta && (
          <a href="/advisory-sessions" class="block mt-[36px] bg-[#4130BA] text-white w-fit py-[18px] px-[32px] rounded-[100px] text-[14px]">
            Book a consultation
          </a>
        )
      }
    </div>
  </div>

  <div>
    <button data-service={ref} class="">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="64"
        height="64"
        viewBox="0 0 64 64"
        fill="none"
        class="pointer-events-none"
      >
        <mask
          id="mask0_2125_8621"
          style="mask-type:alpha"
          maskUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="64"
          height="64"
        >
          <rect width="64" height="64" fill="#D9D9D9"></rect>
        </mask>
        <g mask="url(#mask0_2125_8621)">
          <path
            d="M32 40.999L16 24.999L19.7333 21.2656L32 33.5323L44.2667 21.2656L48 24.999L32 40.999Z"
            fill="#1C1B1F"></path>
        </g>
      </svg>
    </button>
  </div>
</div>
