---
import { Image } from "astro:assets";
import { ServicesContent } from "../../../data/services";

const {} = Astro.props;
---
<section id="home-services-section">
  <div
    class="lg:max-w-[1248px] xl:max-w-[1560px] mx-auto py-[50px] md:py-[96px] bg-[#f8f9fb] gap-[84px] flex flex-col px-[20px] md:px-[64px] xl:px-[80px]"
  >
    <h1
      class="w-fit mx-auto text-[32px] md:text-[48px] font-primary font-[600] lg:leading-[49.2px]"
    >
      Our Services
    </h1>
    <div class="services-content flex flex-col md:flex-row gap-[20px] md:gap-[36px] xl:gap-[45px] lg:max-w-[1047.99px] xl:max-w-[1400px] mx-auto">
      {
        ServicesContent.map((item) => {
          return (
            <div class="service-content-item lg:w-1/3 border-[2px] md:border-[#4130BA] border-[#4130BA]/90  rounded-[12px] px-[20px] md:px-[30px] xl:px-[37.5px] md:py-[42px] py-[20px] flex flex-col gap-[12px]">
              <Image src={item.icon} class="h-[271px] w-[271px] mx-auto" alt={`${item.title}`} />
              <h4 class="text-[20px] text-[#123257] max-w-[227px] leading-[30px] font-[500]">{item.title}</h4>
              <p class="mt-[6px] text-[16px] text-[#58657D] max-w-[748px]">{item.description}</p>
              <a class="block px-[20px] py-[12px] text-[14px] mt-[12px] rounded-[100px] border border-[#4130BA] font-body font-[700] text-[#4130BA] w-fit" href={item.url}>Learn more</a>
            </div>
          );
        })
      }
    </div>
    <a class="flex gap-4 items-center py-[10px] md:py-[18px] px-[32px] xl:px-[40px] text-[14px] md:text-[20px] bg-[#4130BA] text-white font-body rounded-[100px] border border-[#4130BA] mx-auto" href="/services"
      >Full list of services
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
      </svg>
    </a>
  </div>
</section>

<style>
  .service-content-item {
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.05);
  }
</style>
