---
import { Image } from "astro:assets";
import { ServicesContent } from "../../../data/services";
import StarImage from "../../../assets/images/star.svg";

const {} = Astro.props;
---

<section id="home-services-section">
  <div>
    <div class="heading">
      <h1>How we empower businesses</h1>
    </div>
    <div class="services-content">
      {
        ServicesContent.map((item) => {
          return (
            <div class="services-content-item">
              <Image
                src={item.icon}
                alt={`${item.title} - ${item.description}`}
              />
              <h4>{item.title}</h4>
              <p style={{}}>{item.description}</p>
              <a href={item.url}>Learn more</a>
            </div>
          );
        })
      }
    </div>
    <a class="services-cta" href="/services"
      >Full list of services
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
      </svg>
    </a>
    <Image src={StarImage} alt={""} />
  </div>
</section>

<style>
  .services-cta {
    padding: 15px 25px;
    border: 1px solid var(--primary-color);
    border-radius: 100px;
    font-weight: 400;
    display: block;
    line-height: 14.35px;
    font-size: 16px;
    text-decoration: none;
    background: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
    width: fit-content;
    gap: 10px;
  }
  .services-cta svg {
    height: 16px;
  }

  #home-services-section {
    padding: 0 120px;
    @media screen and (max-width: 450px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  #home-services-section > div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 84px;
    column-gap: 84px;
    padding: 120px 80px;
    background: #f8f9fb;
    @media screen and (max-width: 450px) {
      padding: 120px 0px;
    }
  }

  #home-services-section div.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  #home-services-section div.heading > h6 {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #4130ba;
    color: #fff;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    width: fit-content;
    text-transform: uppercase;
    margin: 0;
    @media screen and (max-width: 450px) {
      font-size: 12px;
      letter-spacing: 1px;
    }
  }

  #home-services-section div.heading > h1 {
    color: #0f1221;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: Epilogue;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;

    @media screen and (max-width: 450px) {
      font-size: 32px;
      padding: 0 30px;
      text-align: center;
    }
  }

  #home-services-section div.services-content {
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 450px) {
      flex-direction: column;
      gap: 0;
      row-gap: 45px;
      padding: 0;
    }
  }

  #home-services-section > div > img {
    position: absolute;
    bottom: -39px;
    right: 57px;
  }

  #home-services-section div.services-content .services-content-item {
    width: calc((100% - 45px) / 2);
    box-sizing: border-box;
    border-radius: 12px;
    border: 2px solid #4130ba;
    background: #fff;
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.05);
    padding: 42px 37.5px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;

    @media screen and (max-width: 450px) {
      width: calc((100% - 45px));
      padding: 14px 12.5px;
    }
  }

  #home-services-section .services-content-item h4 {
    color: #000;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: Epilogue;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    margin-top: 64px;
    margin-left: 12.5px;
  }

  #home-services-section .services-content-item p {
    color: #58657d;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: Epilogue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 23px;
    margin-bottom: 0;
    margin-left: 12.5px;
  }

  #home-services-section .services-content-item a {
    margin-top: 64px;
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    border: 1px solid #4130ba;
    background: #fff;
    color: #4130ba;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: Typo Grotesk;
    font-size: 17.5px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: fit-content;
    text-decoration: none;
  }
</style>
